/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --color_acsent:rgba(255, 141, 203, 1);
  --text_color:rgba(53, 52, 48, 1);
  --text_color_FOCUS:rgba(255, 194, 230, 1);
  --bg_image: url(../images/cover-image-light.png);
  --text-color_night:#000028;
  --color_acsent_text:rgba(53, 52, 48, 1);
  --color_acsent_rec: rgba(255, 194, 230, 0);

}
