/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg_image, url(./images/cover-image-dark.png));
  background-color: var(--bg_fon, rgba(0, 12, 55, 1));
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Класс для шапки сайта (общий стиль) */
.header {
  display: grid;
  align-items: center;
  justify-items: end;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  height: 100vh;
  min-height: 768px;
  padding: 20px;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  border-top: 1px solid var(--color_acsent_text);
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--color_acsent_text);
  right: 20px;
  top: 20px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--color_acsent_text);
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--color_acsent_text);
  left: 20px;
  bottom: 20px;
}

.assent_element {
  position: absolute;
  font-size: 18px;
  color: var(--color_acsent_rec);
  text-transform: uppercase;
  font-family: "IBM Plex mono", monospace;
  font-weight: var(--text_weight_main);
  font-style: normal;
  line-height: 25px;
  top: 20px;
  right: 45px;
}

.assent_element::before {
  position: absolute;
  content: "rec";
  top: 0px;
  right: 0px;
}

.assent_element::after {
  inset-inline-end: 0;
  inset-block-start: 50%;
  top: 10px;
  right: -15px;
  box-shadow: 0px 0px 4px 2px var(--color_acsent_rec);
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--color_acsent_rec);
  border-radius: 50%;
  border: 1px solid var(--color_acsent_rec);
}

.header__theme-menu {
  align-self: start;
  justify-self: center;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  font-size: 18px;
  color: var(--color_acsent_text);
  font-family: "IBM Plex mono", monospace;
  font-style: normal;
  font-weight: var(--text_weight_main);
  line-height: 18px;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color_acsent_hover);
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color_acsent_text);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color_acsent_text);
  pointer-events: none;
}

.header_title {
  max-width: 759px;
  align-self: flex-end;
  justify-self: start;
  font-family: "IBM Plex mono", monospace;
  font-size: var(--font_size-m);
  font-style: normal;
  font-weight: var(--text_weight_header);
  color: var(--text_color_FOCUS);
  text-align: left;
  margin-left: -17px;
  text-shadow: 4px 4px 0px var(--color_acsent_title);
  line-height: 82.5%;
}

.header_text {
  justify-self: right;
  align-self: center;
  max-width: 491px;
  font-family: "IBM Plex mono", monospace;
  font-style: normal;
  font-weight: var(--text_weight_header);
  font-size: 18px;
  line-height: 23px;
  color: var(--text-color_night);
  background-color: var(--color_acsent);
}

.content {
  padding: 20px 20px 0 20px;
  display: grid;
  justify-items: center;
}

.text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--color_acsent);
}

.text_link:hover {
  border-bottom: 1px solid var(--text_color);
}

.text_link:focus {
  border: 1px solid var(--text_color);
}

.text_link:focus-visible {
  outline: none;
  border: 1px solid var(--text_color);
}

.section {
  position: relative;
  display: grid;
}

.section__multitasking {
  margin-top: 40px;
  align-items: start;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto;
  row-gap: 5px;
  column-gap: 20px;
}

.section_concentration {
  margin-top: 64px;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
  column-gap: 20px;
}

.section_goldfish {
  margin-top: 86px;
  column-gap: 20px;
  align-items: start;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto;
  grid-auto-flow: dense;
}

.section_image {
  margin-top: 52px;
  position: relative;
  max-width: 100%;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  align-items: start;
}

.section_title {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: var(--text_weight_header);
  line-height: 23px;
  color: var(--color_acsent_text);
  font-size: 18px;
  text-align: left;
  max-width: 315px;
}

.title_multitasking {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  min-width: 315px;
}

.title_concentration {
  margin: 0 0 20px 0;
  grid-column: 1 / span 3;
  min-width: 315px;
}

.title_goldfish {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  min-width: 315px;
}

.title_paragraf {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: var(--text_weight_header);
  font-size: 18px;
  line-height: 23px;
  color: var(--text-color_night);
  background-color: var(--color_acsent);
}

.paragraf_multitasking {
  grid-column-start: 2;
}

.paragraf_concentration {
  margin: 0 0 10px 0;
  grid-row-start: 2;
}

.paragraf_goldfish {
  grid-column-start: 2;
  font-weight: var(--text_weight_main);
}

.paragraf_goldfish_first {
  margin-bottom: 20px;
  grid-column-start: 2;
  font-weight: var(--text_weight_header);
}

.paragraf_image {
  margin-top: 10px;
  max-width: 100%;
  grid-column: 1 / span 3;
}

.text_general {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-weight: var(--text_weight_main);
  font-size: 18px;
  line-height: 23px;
  color: var(--text_color);
}

.text_general_multitasking {
  padding: 10px 0 20px 0;
  grid-column-start: 2;
}

.text_general_concentration {
  grid-row-start: 3;
}

.text_general_goldfish {
  margin: 13px 0 20px 0;
  grid-column-start: 2;
}

.image_general {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.image_sunset {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.image_ice_cream {
  grid-column: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.image_tape {
  grid-column: 1;
  grid-row: 3 / span 2;
}

.image_books {
  grid-column: 2;
  grid-row: 3;
}

.image_street {
  grid-column: 2 / span 2;
  grid-row: 4;
}

.footer {
  margin-top: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 768px;
}

.footer_title {
  align-self: center;
  font-family: "IBM Plex mono", monospace;
  font-size: var(--font_size-m);
  font-style: normal;
  font-weight: var(--text_weight_header);
  color: var(--text_color_FOCUS);
  text-align: left;
  text-shadow: 2px 2px 0px var(--color_acsent_title);
  line-height: 82.5%;
}

/* МЕДИА ЗАПРОСЫ ДЛЯ ЭКРАНА 768 */

@media (width <= 768px) {
  .header {
    min-height: 1024px;
  }

  .header__theme-menu {
    align-self: center;
    justify-self: right;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header_text {
    white-space: pre-wrap;
    max-width: 364px;
  }

  .section__multitasking {
    margin-top: 42px;
    column-gap: 24px;
  }

  .title_multitasking {
    min-width: 236px;
  }

  .section_concentration {
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    column-gap: 20px;
  }

  .title_concentration {
    grid-column: 1;
    max-width: 236px;
    min-width: 236px;
  }

  .paragraf_concentration {
    grid-column: 1;
    grid-row: auto;
  }

  .text_general_concentration {
    grid-column: 1;
    grid-row: auto;
    margin-bottom: 24px;
  }

  .title_goldfish {
    min-width: 236px;
    grid-row: span 3;
  }

  .section_goldfish {
    margin-top: 60px;
  }

  .text_general_goldfish {
    margin-top: 14px;
  }

  .text_general_goldfish:first-child {
    margin-top: -20px;
  }

  .footer {
    min-height: 1024px;
  }
}

/* МЕДИА ЗАПРОСЫ ДЛЯ ЭКРАНА 375 */

@media (width <= 478px) {
  .header {
    height: 100%;
    padding: 10px;
    min-height: 668px;
  }

  .header_title {
    line-height: 95.7px;
    font-size: var(--font_size-s);
    margin-left: 0px;
  }

  .decorated-zone::before {
    right: 10px;
    top: 10px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  .assent_element {
    top: 10px;
    right: 35px;
  }

  .content {
    padding: 10px;
  }

  .section__multitasking {
    margin-top: 34px;
    grid-template-columns: min-content;
    grid-template-rows: auto;
  }

  .title_multitasking {
    grid-column: 1;
    min-width: 355px;
  }

  .paragraf_multitasking {
    margin-top: 15px;
    grid-column-start: 1;
  }

  .text_general_multitasking {
    margin-bottom: -16px;
    grid-column-start: 1;
  }

  .section_concentration {
    margin-top: 56px;
    grid-template-rows: min-content min-content 1fr;
    max-width: 355px;
  }

  .title_concentration {
    grid-column: 1;
    min-width: 315px;
    max-width: 355px;
  }

  .paragraf_concentration {
    margin: 0 0 0 0;
    grid-row-start: auto;
  }

  .text_general_concentration {
    grid-row-start: auto;
    padding-top: 10px;
  }

  .section_goldfish {
    margin-top: 32px;
    grid-template-columns: min-content;
    grid-auto-rows: min-content;
  }

  .title_goldfish {
    grid-column: 1;
    grid-row: auto;
    min-width: 355px;
    max-width: 355px;
    padding: 0 0 20px 0;
  }

  .paragraf_goldfish {
    margin: 23px 0 0 0;
    grid-column-start: 1;
    font-weight: var(--text_weight_main);
  }

  .text_general_goldfish {
    margin-top: 12px;
    grid-column-start: 1;
  }

  .section_image {
    margin-top: 21px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: start;
    gap: 10px;
  }

  .paragraf_image {
    margin-top: 10px;
    grid-column: 1;
  }

  .image_sunset {
    grid-column: 1;
    grid-row: auto;
  }

  .image_ice_cream {
    grid-column: 1;
    grid-row-start: auto;
    grid-row-end: auto;
  }

  .image_tape {
    grid-column: 1;
    grid-row: auto;
  }

  .image_books {
    grid-column: 1;
    grid-row: auto;
  }

  .image_street {
    grid-column: 1;
    grid-row: auto;
  }

  .footer {
    height: 100%;
    min-height: 668px;
    margin-top: 32px;
  }

  .footer_title {
    font-size: var(--font_size-s);
  }
}
